html {
  font-family: Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: radial-gradient(#243d53, #192a35);
  /* background-color: #25333f; */
  color: #f5f5f5;
  text-align: center;
}

body * {
  border: .3px solid gray;
}

div#title {
  margin-top: 50px;
  margin-bottom: 50px;
}

#title h1, h2, h3, h4, p {
  margin: 0px;
}

#title h1 {
  font-size: 40px;
}

#buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  /* border: 2px solid #0073c0; */
  background-color: #0065a8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #0081bd;
  transition: background-color 0.5s;
}

button:active {
  background-color: #32abe2;
  transition: background-color 0.2s;
}

#scoreboard {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.score {
  font-size: 40px;
  font-weight: 600;
}

#roundResult {
  margin-bottom: 10px;
}

#roundResultText {
  font-size: 20px;
}

#roundChoice {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.selection {
  font-size: 24px;
  font-weight: 600;
}

#result1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}